/* #center_column {
    background-color: rgba(255, 255, 255, 0.973);
} */

#map_2 {
    margin: 1%;
    padding: 1%;
    width: 98%;
    height: 68vh;
}

#volcano_name {
    margin: 0;
    padding: 0;
    padding-top: 1.5%;
    padding-bottom: 0;
}

.btn-group {
    margin-left: 0.75%;
    margin-bottom: .5%;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* #map_column {
    background-color:aqua;
}

#content_column {
    background-color:blanchedalmond;
} */

.container {
    margin-top: 1%;
    background-color: white;
}

.nav-tabs {
    margin: 1%;
}



#geo-body {
    background-color: rgb(216, 241, 232);
}

